PassengerEnabled off
Options -Indexes

RewriteEngine On
RewriteBase /

# All requests go through index.php router
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]
